@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Inter", sans-serif;
  }
}
.vs__search,
.vs__search:focus {
  padding: 0px 0px !important;
  font-size: 0.8rem !important;
  color: #ffff !important ;
}

.vs__selected-options {
  flex-wrap: nowrap !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline;
}
.vs__selected {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-color: rgb(65, 121, 170);
  color: white !important;
}
.vs__clear {
  display: none;
}

.vs__dropdown-toggle {
  background: #4b5563 !important;
}
.vs__dropdown-menu {
  background: #4b5563 !important;
  color: white !important;
}
.vs__open-indicator {
  fill: #94a3b8 !important;
}

/* custom scroll bar */
#custom_scrollbar::-webkit-scrollbar-thumb {
  background: #878787;
  border-radius: 8px;
}

#custom_scrollbar::-webkit-scrollbar-thumb:hover {
  background: #737373;
}
#custom_scrollbar::-webkit-scrollbar {
  width: 8px;
  background-color: #e2e2e2;
  border-radius: 8px;
}
.component_height {
  height: 36.2rem;
}
.container_height {
  height: max(603px, 587px);
}

.dropdown_scrollbar ::-webkit-scrollbar {
  width: 10px;
  height: 0.5em;
  margin-top: 1rem;
}
.dropdown_scrollbar ::-webkit-scrollbar-track {
  background: rgb(240, 240, 240);
  border-radius: 100vw;
}
.dropdown_scrollbar ::-webkit-scrollbar-thumb {
  background: rgb(123, 123, 123);
  width: 0.2rem;
  border-radius: 100vw;
}
